body {
    font-family: 'Poppins', sans-serif;
    background-color: #050505;
    color: white;
}

.secondary-color {
    color: #FF0000 !important;
}

.nav-color {
    background-color: #121212;
}

.carousel-height {
    height: 70vh;
}

.carousel-image {
    object-fit: cover !important;
    opacity: 0.7;
}

.underline {
    height: 5px;
    width: 10%;
    background-color: #FF0000;
}

.topic-heading {
    font-weight: 600;
}

hr {
    height: 3px !important;
    background-color: white !important;
    border: none;
    opacity: 1 !important;
}

.image-stretch {
    object-fit: cover !important;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #FF0000;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}



@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.footer-1{
    background-color: #121212;
}

.footer-2 {
    background-color: #FF0000 !important;
}

.footer-head-color{
    color: #FF0000;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none !important;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.article-detail-view-image{
    height: 50vh;
}

.carousel-btn {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
  }
  
  .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: width 0.3s;
  }
  
  .carousel-indicators .active {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FF0000 !important;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: #5B5B5B;
  }

.category-box{
    background-color: white;
    width: auto;
}