{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>EsportsNow</title>
</head>

<body>
    <!--Nabvbar-->
    <nav class="navbar navbar-expand-lg nav-color navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><span>Esports</span><span
                    class="footer-head-color">Now</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'valorant' %}">Valorant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'csgo' %}">CS GO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mobileesports' %}">Mobile Esports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--MainContent-->
    <div class="container mt-3">
        {% block content %}
        {% endblock %}
    </div>
    <!--Footer-->
    <div class="footer-1">
        <div class="container pt-3 pb-1">
            <div class="row d-flex justify-content-between">
                <div class="col-12 col-md-6">
                    <h3>
                        <span>Esports</span><span class="footer-head-color">Now</span>
                    </h3>
                    <p class="pe-md-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque assumenda accusamus doloremque
                        quia
                        libero quasi, provident, similique nostrum ad eveniet reiciendis. Architecto facilis ut eaque
                        natus,
                        facere ullam minima fuga.
                    </p>
                </div>
                <div class="col-3 ps-md-5">
                    <h4 class="footer-head-color">
                        Socials
                    </h4>
                    <p>
                        Instagram
                    </p>
                    <p>
                        Youtube
                    </p>
                    <p>
                        Twitter
                    </p>
                </div>
                <div class="col-3 ps-md-5">
                    <h4 class="footer-head-color">
                        Links
                    </h4>
                    <p>
                        <a href="{% url 'about' %}">AboutUs</a>
                    </p>
                    <p>
                        <a href="{% url 'contact' %}">Contact</a>
                    </p>
                    <p>
                        <a href="{% url 'carrer' %}">Carrer</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-white text-center p-2 footer-2">
        ©EsportsNow
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>