{% extends "base.html" %}
{% block content %}
<!--Heading-->
<h2 class="topic-heading"> {{ heading_1 }} </h2>
<div class="underline"></div>
<!--Carousel-->
<div id="carouselExampleCaptions" class="carousel slide mt-3" data-bs-ride="carousel">
  <!--Carousel-Indicators-->
  <div id="applyScroll" class="carousel-indicators d-none d-md-flex justify-content-end">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
      class="active carousel-btn" aria-current="true" aria-label="Slide 1"></button>
    <button class="carousel-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button class="carousel-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <!--Carousel-Items-->
  <div class="carousel-inner">
    {% for carousel in carousel_data %}
    <div class="carousel-item carousel-height {% if forloop.counter0 == 0 %} active {% endif %}">
      <a href="{% url 'detail' pk=carousel.id %}">
      <img src="{{ carousel.image_url }}" class="d-block w-100 h-100 carousel-image " alt="...">
    </a>
      <div class="carousel-caption">
       <h5 class="text-capitalize text-start secondary-color text-md-white" >{{ carousel.category }}</h5>
       <div class="underline d-md-none mb-2"></div>
        <h4 class="text-start">{{ carousel.title|truncatechars:100 }}</h4>
        <div class="underline d-none d-md-block"></div>
        <p class="text-start d-none d-md-block">{{ carousel.description|truncatechars:150 }}.</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <!--Carousel-Buttons-->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h2 class="mt-3 topic-heading text-capitalize"> {{ heading_2 }} </h2>
<div class="underline mb-3"></div>
<div class="infinite-container container">
  {% for article in articles reversed %}
  <a href="{{ article.id }}" class="infinite-item">
    <div class="row">
      <div class="col-xl-3 pe-0">
        <img src="{{ article.image_url }}" class="w-100 h-100 image-stretch" alt="">
      </div>
      <div class="col-xl-5 my-auto mt-2 mt-xl-none">
        <h6 class="text-capitalize secondary-color">{{ article.category }}</h6>
        <h4>{{ article.title|truncatechars:100 }}</h4>
        <div class="underline mb-2"></div>
        <p class="text-muted">{{ article.description|truncatechars:150 }}</p>
        <h6 class="d-flex justify-content-end">
          <span class="secondary-color">
            {{ article.date_time|timesince }}
          </span>
          &nbsp;ago
        </h6>
      </div>
    </div>
    <hr class="col-xl-8">
  </a>
  {% endfor %}
</div>
    <div class="loader mx-auto mb-3"></div>
<span class="col-12">
  {% if page_obj.has_next %}
  <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
  {% else %}
  <h4 class="text-center">The End</h4>
  {% endif %}
</span>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/infinite.min.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}