{% extends "base.html" %}
{% block content %}
<h2 class="topic-heading"> {{ title }} </h2>
<div class="underline"></div>
<div class="container infinite-container">
  {% for article in article_list reversed %}
  <a class="infinite-item" href="{% url 'detail' pk=article.id %}">
    <div class="row mt-4">
      <div class="col-xl-3">
        <img src="{{ article.image_url }}" class="w-100 h-100 image-stretch" alt="">
      </div>
      <div class="col-xl-5 my-auto">
        <h6 class="text-capitalize secondary-color">{{ article.category }}</h6>
        <h4>{{ article.title|truncatechars:100 }}</h4>
        <div class="underline mb-2"></div>
        <p class="text-muted">{{ article.description|truncatechars:150 }}</p>
        <h6 class="d-flex justify-content-end">
          <span class="secondary-color">
            {{ article.date_time|timesince }}
          </span>
          &nbsp;ago
        </h6>
      </div>
    </div>
    <hr class="col-xl-8">
  </a>
  {% endfor %}
</div>
<div class="loader mx-auto mb-3"></div>
<span class="col-12 mt-5">
  {% if page_obj.has_next %}
  <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
  {% else %}
  <h4 class="text-center">The End</h4>
  {% endif %}
</span>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/infinite.min.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}